.brands {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #fff;
  max-width: rem(900);
  margin: auto;
  @include adaptiveValue("padding-top", 25, 10);
  @include adaptiveValue("padding-bottom", 25, 10);
  @include adaptiveValue("padding-left", 50, 10);
  @include adaptiveValue("padding-right", 50, 10);
  @media (max-width: $mobileSmall) {
    display: none;
  }

  &__link {
    fill: #D2D1D1;
    transition: fill 0.2s ease 0s;

    & svg {
      width: 80px;
      height: 80px;
    }

    &:hover{
      fill: $mainColor
    }
  }

  &__img {
    height: 80px;
  }
}
