.colors {
  display: flex;
  justify-content: center;
  gap: rem(6);

  &__color {
    height: rem(10);
    width: rem(10);
    border-radius: 50%;
    &[style="background:"] {
      display: none;
    }
  }
}