.featured {
  max-width: rem(400);
  box-shadow: 1px 0px 26px -3px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: $prodText;
  &:hover &__icon {
    visibility: visible;
    opacity: 1;
  }
  &:hover .icon-zoom {
    opacity: 0;
  }
  &:hover &__details {
    color: #fff;
    background: #2f1ac4;
  }
  &:hover &__name {
    color: #fff;
  }
  &:hover &__code {
    &_value:hover {
      color: #bbb;
    }
  }

  &__img {
    position: relative;
    background-color: #f6f7fb;
    width: 100%;
    padding: rem(38) rem(38) rem(12) rem(38);
    img {
      width: 100%;
      cursor: zoom-in;
      &:hover + .icon-zoom {
        opacity: 0.9;
      }
    }
  }

  &__icon {
    cursor: pointer;
    color: #535399;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    position: absolute;
    font-size: rem(20);
    @media (max-width: $mobile) {
      opacity: 1;
    }
  }

  & .icon-cart {
    top: 7%;
    left: 7%;
    @media (max-width: $mobile) {
      font-size: rem(22);
    }
  }

  & .icon-heart {
    top: 7%;
    left: 20%;
    font-size: rem(18);
    @media (max-width: $mobile) {
      font-size: rem(20);
      left: 24%;
    }
  }

  & .icon-zoom {
    color: inherit;
    font-size: rem(20);
    cursor: zoom-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(36);
    height: rem(36);
    background: rgba(230, 230, 230, 0.5);
    border-radius: 50%;
    &::before {
      line-height: math.div(36, 20);
    }
    &:hover {
      opacity: 0.9;
    }
    @media (max-width: $mobile) {
      top: auto;
      left: auto;
      bottom: 4%;
      right: 4%;
      opacity: 0.9;
      transform: none;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: rem(4) rem(4) rem(17) rem(4);
    transition: all 0.3s ease 0s;
  }

  &__name {
    transition: all 0.3s ease 0s;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(48);
    color: $accent;
  }

  &__colors {
    display: flex;
    justify-content: center;
    gap: rem(5);
  }

  &__color {
    height: rem(4);
    width: rem(14);
    border-radius: rem(10);

    &_acc1 {
      background: $accent3;
    }

    &_acc2 {
      background: $accent;
    }

    &_acc3 {
      background: $accent2;
    }
  }

  &__code {
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(42);
    &_value {
      cursor: pointer;
      &:hover {
        color: $saleTag;
      }
    }
  }

  &__cost {
    font-weight: 400;
    font-size: rem(14);
  }
}
