.latest {
  max-width: rem(360);
  color: $prodText;
  font-family: "Josefin Sans", serif;
  &:hover &__img {
    background-color: #fff;
  }
  &:hover &__icon {
    visibility: visible;
    opacity: 1;
  }
  &:hover .icon-zoom {
    opacity: 0;
  }

  &__img {
    overflow: hidden;
    position: relative;
    background-color: #f7f7f7;
    width: 100%;
    padding: rem(20) rem(48) rem(12) rem(48);
    img {
      width: 100%;
      cursor: zoom-in;
      &:hover + .icon-zoom {
        opacity: 0.9;
      }
    }
  }

  &__flag {
    inset: 0 auto auto 0;
    transform-origin: 100% 0;
    transform: translate(-29.3%) rotate(-45deg);
    box-shadow: 0 0 0 999px #3f509e;
    clip-path: inset(0 -100%);
    position: absolute;
    background: #3f509e;
    color: #eeeffb;
    font-size: rem(14);
    text-align: center;
    width: rem(86);
    line-height: math.div(36, 14);
    @media (max-width: $mobile) {
      font-size: rem(12);
      line-height: math.div(28, 12);
    }
  }

  &__icon {
    cursor: pointer;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    position: absolute;
    font-size: rem(20);
    color: #535399;
    @media (max-width: $mobile) {
      opacity: 1;
    }
  }

  & .icon-cart {
    left: 5%;
    bottom: 21%;
    @media (max-width: $mobile) {
      bottom: 24%;
      font-size: rem(22);
    }
  }

  & .icon-heart {
    left: 5.5%;
    bottom: 9%;
    font-size: rem(18);
    @media (max-width: $mobile) {
      bottom: 5%;
      font-size: rem(20);
    }
  }

  & .icon-zoom {
    text-align: center;
    color: inherit;
    font-size: rem(20);
    cursor: zoom-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(36);
    height: rem(36);
    background: rgba(230, 230, 230, 0.5);
    border-radius: 50%;
    &::before {
      line-height: math.div(36, 20);
    }
    &:hover {
      opacity: 0.9;
    }
    @media (max-width: $mobile) {
      top: auto;
      left: auto;
      bottom: 4%;
      right: 4%;
      transform: none;
      opacity: 0.9;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-weight: 400;
    line-height: math.div(36, 16);
    border-bottom: 2px solid #eeeffb;
  }

  &__cost {
    font-size: rem(14);
    line-height: math.div(36, 14);
  }

  &__old-cost {
    font-size: rem(12);
    line-height: math.div(36, 12);
    text-decoration: line-through;
    color: #fb2448;
  }
}
