.product {
  max-width: rem(270);
  color: $prodText;
  font-family: 'Josefin Sans', serif;
  &:hover &__img {
    background-color: #EBF4F3;
  }
  &:hover &__icon {
    visibility: visible;
    opacity: 1;
  }
  &:hover .icon-zoom {
    opacity: 0.5;
  }

  &__img {
    position: relative;
    background-color: #f7f7f7;
    width: 100%;
    padding: rem(32) rem(24) rem(24) rem(28);
    img {
      width: 100%;
      cursor: zoom-in;
      &:hover + .icon-zoom {
        opacity: 1;
      }
    }
  }

  &__icon {
    cursor: pointer;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    position: absolute;
    font-size: rem(18);
    @media(max-width: $mobileSmall) {
      opacity: 1;
    }
  }
  
  & .icon-cart {
    width: rem(30);
    height: rem(30);
    text-align: center;
    left: 5%;
    bottom: 16%;
    border-radius: 50%;
    transition: background 0.3s ease;
    &::before {
      line-height: math.div(30, 18);
    }
    &:hover {
      background: #fff rem(30);
    }
  }

  & .icon-heart {
    width: rem(30);
    height: rem(30);
    text-align: center;
    left: 5.5%;
    bottom: 5%;
    font-size: rem(16);
    border-radius: 50%;
    transition: background 0.3s ease;
    &::before {
      line-height: math.div(30, 16);
    }
    &:hover {
      background: #fff rem(30);
    }
  }

  & .icon-zoom {
    cursor: zoom-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(24);
    &:hover {
      opacity: 1;
    }
    @media(max-width: $mobileSmall) {
      opacity: 0.5;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(14);
  }

  &__name {
    font-weight: 700;
    font-size: rem(18);
    line-height: math.div(32, 18);
  }

  &__colors {
    display: flex;
    justify-content: center;
    gap: rem(6);
  }

  &__color {
    height: rem(10);
    width: rem(10);
    border-radius: 50%;

    &_acc1 {
      background: $accent5;
    }

    &_acc2 {
      background: $accent6;
    }

    &_acc3 {
      background: $accent7;
    }
  }

  &__cost {
    font-size: rem(14);
    line-height: math.div(38, 14);
  }

  &__old-cost {
    font-size: rem(14);
    text-decoration: line-through;
    color: #FB2448;
  }
}