.trending {
  max-width: rem(270);
  padding: rem(11) rem(11) rem(28) rem(11);
  background-color: #fff;
  color: $prodText;

  &__img {
    width: 100%;
    background-color: #f5f5f5;
    padding: rem(40) rem(35)  rem(35)  rem(35);
    @media (max-width: $mobileSmall) {
      padding: rem(20) rem(16)  rem(16)  rem(16);
    }
    img {
      width: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-weight: 700;
    line-height: math.div(48, 16);
  }

  &__cost {
    font-family: 'Josefin Sans', serif;
    font-size: rem(14);
  }

  &__old-cost {
    opacity: 0.3;
    text-decoration: line-through;
    font-size: rem(12);
  }
}
