.tabs {
  
  &__navigation {
    display: flex;
    margin-bottom: rem(30);
  }

  &__title {
    font-size: rem(18);
    color: $prodText;
    padding: rem(10) rem(15);
    transition: color 0.1s ease;
    &._tab-active {
      color: $accent;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}
