<div class="big-preview">
  <div class="big-preview__img">
    <img src="@@image" alt="">
  </div>
  <div class="big-preview__content">
    <div class="big-preview__content-top">
      <i class="big-preview__icon-pen icon-pen"></i><span class="big-preview__author">@@author</span>
      <i class="big-preview__icon-calendar icon-calendar"></i><span class="big-preview__date">@@date</span>
    </div>
    <a href="" class="big-preview__headline">@@headline</a>
    <p class="big-preview__description">@@description</p>
    <a href="" class="big-preview__link">Read More</a>
  </div>
</div>