<div class="featured">
  <div class="featured__img">
    <i class="featured__icon icon-cart"></i>
    <i class="featured__icon icon-heart"></i>
    <i class="featured__icon icon-zoom"></i>
    <img src="@@image" alt="">
  </div>
  <div class="featured__details">
    <a href="" class="featured__name">@@name</a>
    <div class="featured__colors">
      <div class="featured__color featured__color_acc1"></div>
      <div class="featured__color featured__color_acc2"></div>
      <div class="featured__color featured__color_acc3"></div>
    </div>
    <span class="featured__code">Code - <span class="featured__code_value">@@code</span></span>
    <span class="featured__cost">$@@cost</span>
  </div>
</div>