<div class="product">
  <div class="product__img">
    <i class="product__icon icon-cart"></i>
    <i class="product__icon icon-heart"></i>
    <img src="@@image" alt="">
    <i class="product__icon icon-zoom"></i>
  </div>
  <div class="product__details">
    <a href="" class="product__name">@@name</a>
    <div class="product__colors">
      <div class="product__color product__color_acc1"></div>
      <div class="product__color product__color_acc2"></div>
      <div class="product__color product__color_acc3"></div>
    </div>
    <span class="product__cost">
      $@@cost &nbsp;
      <span class="product__old-cost">$@@old_cost</span>
    </span>
  </div>
</div>