<div class="product">
  <div class="product__img">
    <i class="product__icon icon-cart"></i>
    <i class="product__icon icon-heart"></i>
    <img src="@@image" alt="">
    <i class="product__icon icon-zoom"></i>
  </div>
  <div class="product__details">
    <a href="" class="product__name">@@name</a>
    @@include('../common/_colors.htm', {
      "color_1": "#DE9034",
      "color_2": "#EC42A2",
      "color_3": "#8568FF"
    })
    <span class="product__cost">
      $@@cost &nbsp;
      <span class="product__old-cost">$@@old_cost</span>
    </span>
  </div>
</div>