.offer{
  
  &__content {
    display: flex;
    gap: rem(20);
    justify-content: center;
    margin-top: rem(64);
    flex-wrap: wrap;
    @media (max-width: $mobileSmall) {
      margin-top: rem(32);
    }
  }
}