.top-categories {
  
  &__container {
    padding: 0 rem(15) !important;
  }

  &__swiper {
    margin-top: rem(40);
    @media (max-width: $mobileSmall) {
      margin-top: rem(20);
    }
  }

  &__pagination {
    bottom: 0 !important;
    margin-top: rem(40);
    @media (max-width: $mobileSmall) {
      margin-top: rem(20);
    }
  }

  & .swiper-pagination {
    position: relative;
  }

  & .swiper-pagination-bullet {
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
    background-color: transparent;
    border: rem(1) $accent solid;
    transition: background-color 0.2s linear;
    opacity: 1;
  }

  & .swiper-pagination-bullet-active {
    background-color: $accent;
  }
}
