.unique-features {
  background-color: #F1F0FF;
  padding: rem(30);

  &__container{
    display: flex;
    gap: rem(50);
  }

  &__img {
    max-width: rem(490);
    img{
      width: 100%;
    }
  }

  &__details {
    margin-top: rem(40);
    h3{
      font-family: "Josefin Sans", serif;
      color: $prodText;
      font-size: rem(35);
      font-weight: 700;
      line-height: math.div(48, 35);
      margin-bottom: rem(20);
    }
  }

  &__list {
    margin-bottom: rem(34);
  }

  &__list-item {
    list-style-type: disc;
    list-style-position: inside;
    padding: rem(13) 0;
    color: #ACABC3;
    font-weight: 500;
    &::marker {
      color: #2B2BF5;
    }
    &:first-child::marker {
      color: $accent;
    }
    &:last-child::marker {
      color: #2BF5CC;
    }
  }

  &__wrap{
    display: flex;
    align-items: center;
    gap: rem(18);
  }

  &__product{
    display: flex;
    flex-direction: column;
    color: $prodText;
    font-size: rem(14);
  }

  &__name {
    font-weight: 600;
    font-family: "Josefin Sans", serif;
    margin-bottom: rem(6);
  }

  &__cost {
  }
}
