.footer {
  position: relative;
  z-index: 1;
}

.top-footer {
  background-color: $top-footer-bg;
  &__container {
    padding: rem(80) 15px rem(120);
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      padding: rem(30) 15px rem(20);
      flex-direction: column-reverse;
    }
  }
  &__logo {
    font-family: "Josefin Sans", serif;
    display: block;
    color: $black;
    font-size: rem(38);
    font-weight: 700;
    margin-bottom: rem(30);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__text {
    display: block;
    margin-bottom: rem(10);
  }
}

.signup {
  display: flex;
  margin-bottom: rem(25);
  @media (max-width: $mobile) {
    margin: rem(15) 0;
  }
  &__email {
    color: $saleTag;
    padding: 0 10px;
    height: 44px;
    &::placeholder {
      color: $mainColor;
    }
    &:focus-visible {
      outline: none;
    }
  }
  &__submit {
    background-color: $accent;
    color: $top-footer-bg;
    padding: 0 rem(34);
    border-radius: 3px;
    white-space: nowrap;
    @media (max-width: $mobile) {
      padding: 0 rem(24);
    }
  }
}

.sub-menu {
  &__title {
    font-family: "Josefin Sans", serif;
    color: $black;
    font-size: rem(22);
    font-weight: 600;
    cursor: auto;
    margin-bottom: rem(30);
    @media (max-width: $mobile) {
      margin-bottom: rem(10);
      margin-top: rem(10);
      cursor: pointer;
    }
  }
  &__body {
    & a {
      display: block;
      margin: 22px 0;
      transition: color ease 0.1s;
      &:hover {
        color: $accent;
      }
      @media (max-width: $mobile) {
        margin: 10px 0;
      }
    }
  }
}

.bottom-footer {
  background-color: $bottom-footer-bg;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mobile) {
      justify-content: space-between;
    }
    & span {
      font-weight: 600;
      line-height: math.div(53, 16);
      color: #9da0ae;
      letter-spacing: 1px;
      @media (max-width: $mobile) {
        font-size: rem(12);
        letter-spacing: 0.5px;
      }
    }
  }
}

.socials {
  position: absolute;
  display: flex;
  right: 18px;
  gap: rem(10);
  @media (max-width: $mobile) {
    margin-right: -10px;
    gap: rem(6);
  }
  &__social {
    background-color: #151875;
    border-radius: 50%;
    padding: 6px;
    font-size: rem(12);
    &::before {
      color: $white;
    }
    @media (max-width: $mobile) {
      font-size: rem(16);
    }
  }
}